.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root, body, html {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden; /* 如果不希望有滚动条 */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px; /* 根据需要调整高度 */
  margin-bottom: 24px; /* 根据需要调整间距 */
}

.site-layout .site-layout-background {
  background: #fff;
}

